---
title: Home
description: An affordable satellite with custom payload
image: https://source.unsplash.com/Q1p7bh3SHj8/2000x1322?a=.png
bottom_image: https://source.unsplash.com/FO7JIlwjOtU/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Your idea <br> Your payload <br> Your satellite</h1>
			<p class="subtext editable">eSat is a femtosatellite platform, designed to make access to space affordable. While we create the platform, you design and fabricate your own sensor payload module or choose from our pre-made payload options. </p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Design or choose sensor payload</h2>
				<p class="editable">We provide the template and support to creation and fabrication of a custom payload PCB. The circuit board will be added on top of our validated main satellite body. Possible payload choices range from a camera to a spectrometer or a cosmic particle detector.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/mbXEkW5ZyBQ/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Code</h2>
				<p class="editable">We develop an Eclipse-based SDK that helps you to program your satellite the way you want to. To assist, we have a comprehensive framework of predefined housekeeping functions.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/feXpdV001o4/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Testing</h2>
				<p class="editable">Before launch, the software and hardware has to be reviewed and tested. Because the main platform is fixed and tested, we will take care of the payload validation. For education, student testing campaigns with our partner labs are envisaged.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/iGheu30xAi8/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Liftoff</h2>
				<p class="editable">After the integration campaign, we launch hundreds of eSat's in a cubesat with a commercial launch provider into LEO (low-earth-orbit). The satellites will last there for up to 6 months, depending on their surface-to-mass ratio.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/NVWyN8GamCk/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Start building today</h2>
				<p class="subtext editable"></p>
				<div class="cta button alt"><a href="system">More info</a></div>
			</div>
		</div>
	</section>
</div>
