---
title: Prototype Showcase
description: Esat v2
image: ../images/protov2pcbmic_w.jpg
bottom_image: ../images/femv1sol2.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Esat v2</h1>
			<p class="subtext editable">Prototype Showcase</p>
		</div>
	</div>
</section>
<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Front side: Main PCB</h2>
				<p class="editable"> In the current prototype, four of the six solar cells are already mounted. On the top sides and side slots, small solar cells are intalled to assure current in every attitude and allow sun tracking. The visible main PCB features the payload and debugging connector, solar charging with MPPT and efficient boost-buck voltage control. It also contains the 9-axis Inertial Measuement Unit (IMU) and a spectrometer. The main SoC controls the satellite inclusive the payload and connects with the radio (RF) frontend.  </p>
			</div>
			<div class="image">
				<img class="editable" src="../images/topv2cc.jpg" alt="Prototype" />
			</div>
		</div>
	</section>
	
		<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Bottom side: Big solar cell and capacitor</h2>
				<p class="editable">On the bottom we use a big 6-series triple-junction solar cell, covering the whole footprint. Below the solar cell is the super-capacitor and the inductors, which assure an efficient energy conversion. On the side are the fixtures for the release mechanism visible.</p>
			</div>
			<div class="image">
				<img class="editable" src="../images/botv2ccc.jpg" alt="Prototype" />
			</div>
		</div>
	</section>

		<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">See our story</h2>
				<p class="subtext editable"></p>
				<div class="cta button alt"><a href="..\protov1">Prototype v1</a></div>
			</div>
		</div>
	</section>
</div>
