---
title: System
description: How and what we design to reach orbit
image: ../images/femv1sol2.png
bottom_image: https://source.unsplash.com/jXd2FSvcRr8/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">System</h1>
			<p class="subtext editable">How and what we design to reach orbit</p>
		</div>
	</div>
</section>
<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Design or choose payload</h2>
				<p class="editable">...</p>
			</div>
			<div class="image">
				<img class="editable" src="../images/femv1bot_2.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Code</h2>
				<p class="editable">...</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/feXpdV001o4/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Testing</h2>
				<p class="editable">...</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/iGheu30xAi8/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Liftoff</h2>
				<p class="editable">...</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/NVWyN8GamCk/650x1000?a=.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Your custom payload</h2>
				<p class="subtext editable">...</p>
				<div class="cta button alt"><a href="payload">More info</a></div>
			</div>
		</div>
	</section>
</div>
